# Работа с данными
pandas>=2.1.0
openpyxl>=3.1.0

# Визуализация
matplotlib>=3.8.0

# Веб-интерфейс (если нужен Streamlit)
streamlit>=1.30.0

# Работа с переменными окружения
python-dotenv>=1.0.0

# Telegram-бот
python-telegram-bot>=20.7

# dropbox
dropbox>=12.0.0

# Работа с YAML
pyyaml>=6.0

# Минимум для твоего проекта с PostgreSQL и миграциями:
sqlalchemy
psycopg2-binary
alembic
